:root {
  --color-scale-gray-8: #161b22;
  --color-calendar-graph-day-bg: var(--color-scale-gray-8);
  --color-calendar-graph-day-border: rgba(27, 31, 35, 0.06);
  --color-calendar-graph-day-L1-bg: #0e4429;
  --color-calendar-graph-day-L2-bg: #006d32;
  --color-calendar-graph-day-L3-bg: #26a641;
  --color-calendar-graph-day-L4-bg: #39d353;

  --color-fg-default: #c9d1d9;
  --color-canvas-default: #0d1117;
}

body {
  background-color: var(--color-canvas-default);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

main {
  display: flex;
  flex-direction: row;
  width: 80px;
  justify-content: space-evenly;
}

.labels {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.label {
  color: var(--color-fg-default);
}

.days {
  display: flex;
  flex-direction: column;
}

.day {
  width: 20px;
  height: 20px;
  border-radius: 4px;
  margin-bottom: 6px;
  outline: none;
  border: none;
  border-radius: 2px;
  background-color: var(--color-calendar-graph-day-bg);
}

.day:last-child {
  margin-bottom: 0;
}

.day.active {
  background-color: var(--color-calendar-graph-day-L4-bg);
}
